<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">AllergyIntolerance</a>
    <div class="navbar-nav mr-auto">
      <mat-list-item class="nav-item">
        <a routerLink="allergies" class="nav-link">Profile</a>
      </mat-list-item>
      <mat-list-item class="nav-item">
        <a routerLink="add" class="nav-link">Register</a>
      </mat-list-item>
    </div>
  </nav>

  <div class="container mt-3">
    <h2>{{ title }}</h2>
    <router-outlet></router-outlet>
  </div>
</div>
